<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="GoogleBaseURL" value="https://www.googleapis.com/customsearch/v1?key={ApiKey}&amp;cx={SearchId}&amp;q={Query}"/>
    <add key="GoogleAPIKey" value="GOOGLE_API_KEY"/>
    <add key="GoogleSearchID" value="GOOGLE_SEARCH_ID"/>
  </appSettings>
</configuration>